body {
  margin: 0 auto;
  padding: 50px;
  font-family: 'Rubik', sans-serif;
}

h1 {
  border-bottom: 10px dotted;
  text-align: center;
  padding: 20px;
  font-family: "Russo One", sans-serif;
}

.searchButton {
  cursor: pointer;
  height: 30px;
}

.searchButton:hover {
  filter: drop-shadow(2px 4px 4px);
}

.searchBar {
  background-color: lightgrey;
}

.nextDay {
  border: 1px dotted;
  border-radius: 20px;
  margin: 10px;
}

input {
  background-color: #fcf9f9;
  border: 0px;
  border-radius: 10px;
  margin: 10px;
  padding: 8px;
}

p {
  line-height: 1;
}

.todayWeather,
.todayStats, .todayAQI {
  background-image: linear-gradient(#33C7FF, #E0F4FB, #BFEDFE);
  border: 1px dotted;
  padding: 20px;
  border-radius: 20px;
  margin: 5px;
}

.nextDay {
    background-image: linear-gradient(#E0F4FB, #33C7FF, #BFEDFE);
}

.city, .aqiHeader, .fiveDay {
  font-size: 30px;
}

.currentTemp {
  font-size: 90px;
}

.cityListItem {
   border: 1px outset;
   border-radius: 8px;
   padding: 10px;
   cursor: pointer;
}

.cityListItem:hover, .clearResults:hover {
  background-color: #fcf9f9;
}

.uvi, .aqiLocal {
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  font-size: 22px;
  margin: 10px;
}

.uviKey, .aqiKey {
  font-size: 12px;
  margin: 3px;
}

.trash {
  float: right;
  cursor: pointer;
}