body {
  margin: 0 auto;
  padding: 50px;
  font-family: 'Rubik', sans-serif;
}

h1 {
  border-bottom: 10px dotted;
  text-align: center;
  padding: 20px;
  font-family: "Russo One", sans-serif;
}

.container {
  width: 100%;
}
.searchBar {
  background-color: lightgrey;
}

.nextDay {
  border: 1px dotted;
  border-radius: 20px;
  margin: 10px;
}

input {
  background-color: #fcf9f9;
  border: 1px;
  border-radius: 8px;
  padding: 8px;
  padding-right: 30px;
}

p {
  line-height: 1;
}

.todayWeather,
.todayStats {
  border: 1px dotted;
  padding: 20px;
  border-radius: 20px;
  margin: 5px;
}

.city {
  font-size: 30px;
}

.currentTemp {
  font-size: 80px;
}

.cityListItem {
  margin: 10px;
  padding: 10px;
  border: 1px dotted;
}

.cityListItem:hover {
  background-color: #fcf9f9;
}

.uvi {
  padding: 10px;
  border: 1px black solid;
}

.uviKey {
  padding: 10px;
  margin: 10px;
}
